/* ALL PAGES */
html, body {
	margin:0;
	height:100%;
}

body {
    background:black;
    overflow:hidden;
}

img.hidden {
    z-index:1;
}

img.current {
    z-index:2;
}

#overlay {
    z-index:10;
}

#textbox.hidden {
    opacity:0;
    transition:opacity 0.3s;
}

#textbox {
    background:black;
    color:white;
    width:fit-content;
    padding:0.5%;
    position:absolute;
    transform:translate(.75vw,-3.25vw);
    pointer-events:none;
    z-index:3;
    opacity:1;
    transition:opacity 0.3s;
    backface-visibility:hidden;
}

#textbox p {
    text-transform:uppercase;
    margin:0;
    padding:0;
    font-size:14px;
    font-family:"B612 Mono", monospace;
    white-space:nowrap;
    letter-spacing:1px;
}

footer {
	background:black;
	color:rgb(75, 75, 75);
	width:100%;
    z-index:999;
    position:absolute;
    bottom:0;
    padding:0.5% 0 0.25% 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

footer p {
    font-family:"Inconsolata", monospace;
    padding:0;
    margin:0;
    text-align:center;
    font-size:14px;
}

footer p:first-child{
    margin-bottom:0.75%;
}

footer a {
    color:rgb(75, 75, 75);
}

/* LANDING PAGE */
door {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}

door svg {
    position:absolute;
    z-index:999;
    width:auto;
    height:fit-content;
    max-width:100%;
    max-height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

door img::selection{
    background:rgba(0, 0, 0, 0);
}

.button {
    cursor:pointer;
    fill:yellow;
    opacity:.1;
    transition:0.3s;
}

.button:hover {
    fill:rgba(255,238,0,0.05)
}

dust {
	background:url(https://media2.giphy.com/media/LOXI5APpNVSxStuOpT/giphy.gif?cid=6c09b952f67712c40c98345a6c3a44a80d0062b526c48daa&rid=giphy.gif&ct=s); /* placeholder gif - to replace */
	background-size:contain;
	position:absolute;
	opacity:0.05;
	pointer-events:none;
	overflow:hidden;
	height:100vh;
	width:100vw;
    z-index:9;
}

#locked {
    width:100vw;
    display:flex;
    align-content:center;
    justify-content:center;
}

#locked img {
    width:auto;
    max-width:100%;
    max-height:100vh;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}