/* ALL PAGES */
body {
    margin:0;
    height:100%;
    width:100%;
    color:black;
}

.hide_frame {
    display:none;
}

/* LANDING PAGE */
door {
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
}

door img::selection{
    background:rgba(0, 0, 0, 0);
}

door img {
    max-width:100vw;
    height:100%;
    pointer-events:none;
}

dust {
	background:url(https://media2.giphy.com/media/LOXI5APpNVSxStuOpT/giphy.gif?cid=6c09b952f67712c40c98345a6c3a44a80d0062b526c48daa&rid=giphy.gif&ct=s);
	background-size:contain;
	position:absolute;
	opacity:0.04;
	pointer-events:none;
	overflow:hidden;
	height:100vh;
	width:100vw;
    z-index:999;
}

/* LANDING PAGE ANIMATION */
