#commissions main {
    display:flex;
    overflow-x:hidden;
}

#commissions a.twod, #commissions a.threed {
    width:100%;
    height:100%;
    display:block;
}

#commissions .twod, #commissions .threed {
    flex-grow:1;
    flex-basis:0;
    -webkit-transition:flex-grow 1000ms;
	-moz-transition:flex-grow 1000ms;
	transition:flex-grow 1000ms;
    background:black;
}

#commissions .twod:hover, #commissions .threed:hover{
    flex-grow: 3;
}

/*BACKGROUND IMAGES*/
#commissions background {
    width:100%;
    height:100%;
    display:block;
    z-index:0;
    position:fixed;
    filter:brightness(0.6);
    -webkit-transition:filter 1000ms;
	-moz-transition:filter 1000ms;
	transition:filter 1000ms;
    overflow:hidden;
}

#commissions .twod background {
    background:url("imgs/2d.png");
    background-position-x: left -1033px;
    background-position-y: 30%;
    background-size: 3000px;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

#commissions .threed background {
    background:url("imgs/3d.png");
    background-position-x: right -150px;
    background-position-y: 70%;
    background-size:2100px;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

#commissions.index .threed background:hover, #commissions.index .twod background:hover {
    filter:brightness(1);
}

/*LOGOS*/
#commissions logo {
    width:100%;
    display:flex;
    overflow:hidden;
}

#commissions logo.left {
    justify-content: flex-end;
}

#commissions .logo.left, #commissions .logo.right {
    z-index:1;
    max-height:calc(100vh - 54px);
}

#commissions .logo.right {
    bottom:36px;
    filter: invert(100%);
}

#commissions .logo.left {
    top:0;
}

#commissions .logo.left.bg, #commissions .logo.right.bg {
    z-index:0;
    margin:0;
    min-height:100vh;
    opacity:0.7;
    bottom:0!important;
}

#commissions .logo.right.bg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#commissions .logo {
    position:absolute;
    margin:10px;
}

#commissions.info .logo {
    position:fixed;
}

/*INFO PAGES*/
#commissions.info {
    overflow-y:scroll;
}

#commissions content {
    color:white;
    z-index:1;
    display:flex;
    align-items: center;
    width:75%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

#commissions vertical_wrap {
    height:100%;
    width:100%;
    position:relative;
}

#commissions jump, #commissions commission_type, #commissions .nav, #commissions form {
    background:grey;
    padding:10px;
}

#commissions commissions {
    display:flex;
    flex-direction:column;
    margin-top:76px;
}

#commissions commissions:last-child {
    margin-bottom:35px;
}

#commissions commission_type {
    margin-bottom: 10px;
}

#commissions a.nav {
    width:15%;
    text-align:center;
    margin: 10px 10px;
}

#commissions jump {
    text-align:center;
    position:absolute;
    margin:10px 0;
    width:calc(100% - 20px);
}

#commissions jump p {
    margin:0;
}