/*BIGGUNS*/
body#commissions {
    overflow-x:hidden;
}

#commissions main {
    display:flex;
}

#commissions a#twod, #commissions a#threed {
    width:100%;
    height:100%;
    display:block;
}

#commissions #twod:hover, #commissions #threed:hover{
    flex-grow:3;
}

/*BACKGROUND IMAGES*/
#commissions #twod, #commissions #threed {
    background-size:cover;
    filter:brightness(0.6);
    background-attachment:fixed;
        flex-grow:1;
    flex-basis:0;
    -webkit-transition:flex-grow 1000ms, filter 1000ms;
	-moz-transition:flex-grow 1000ms, filter 1000ms;
	transition:flex-grow 1000ms, filter 1000ms;
}

#commissions #twod {
    background-image: url(imgs/2d.png);
    background-color: red;
    background-position:left;
}

#commissions #threed {
    background-image: url(imgs/3d.png);
    background-color: blue;
    background-position:right;
}

#commissions.index #threed:hover, #commissions.index #twod:hover {
    filter:brightness(1);
}

#commissions.info #twod, #commissions.info #threed, #commissions.form #twod, #commissions.form #threed {
    width:100%;
    height:100%;
    position:fixed;
}

/*LOGOS*/
#commissions logo {
    width:100%;
    display:flex;
    z-index:2;
}

#commissions logo.left {
    justify-content: flex-end;
}

#commissions .logo.left, #commissions .logo.right {
    z-index:1;
    max-height:calc(100vh - 54px);
}

#commissions .logo.right {
    bottom:36px;
    filter: invert(100%);
}

#commissions .logo.left {
    top:0;
}

#commissions .logo.left.bg, #commissions .logo.right.bg {
    z-index:0;
    margin:0;
    min-height:100vh;
    opacity:0.7;
    bottom:0!important;
}

#commissions .logo.right.bg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#commissions .logo {
    position:absolute;
    margin:10px;
}

#commissions.info logo, #commissions.form logo {
    position:fixed;
}

/*INFO PAGES*/
#commissions .wrapper {
    color:black;
    z-index:999;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    position:absolute;
    top:0;
    left:0;
}

#commissions content {
    height:100%;
    width:45%;
    display:flex;
}

#commissions.info content {
    margin-top:66px;
}

#commissions.form content {
    margin-top:10px;
}

#commissions commission_type, #commissions form {
    background:grey;
    padding:10px;
}

#commissions commissions {
    display:flex;
    flex-direction:column;
    width:100%;
}

#commissions #addons, #commissions form {
    margin-bottom:45px;
}

#commissions commission_type {
    margin-bottom: 10px;
}

#commissions .nav {
    width:27.5%;
    height:36px;
    text-align:center;
    position:fixed;
    top:calc(50% - (35px + 36px));
    transform:translateY(calc(-50% + (35px + 36px)));
}

#commissions .nav.left {
    left:0;
}

#commissions .nav.right {
    right:0;
}

#commissions nav {
    background:lightgrey;
    width:40%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    padding:10px 0;
    border-radius: 20px;
    margin: -17px 0;
}

#commissions nav.left {
    right:10px;
}

#commissions nav.right {
    left:10px;
}

#commissions jump {
    text-align:center;
    position:fixed;
    background:lightgrey;
    padding:10px 0;
    width:50%;
    height:36px;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#commissions jump p {
    margin:0;
}

#commissions #bust, #commissions #halfbody, #commissions #fullbody, #commissions #add-ons {
    scroll-margin-top: 66px;
}

/*FORM PAGES*/
#commissions form {
    width:100%;
}

#commissions formlabel {
    display:flex;
    justify-content: center;
}

#commissions .textinput {
    width:calc(100% - 5px);
    border:none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}