/*BIGGUNS*/
#commissions main {
    display:flex;
}

#commissions a.twod, #commissions a.threed {
    width:100%;
    height:100%;
    display:block;
}

#commissions .twod, #commissions .threed {
    flex-grow:1;
    flex-basis:0;
    -webkit-transition:flex-grow 1000ms;
	-moz-transition:flex-grow 1000ms;
	transition:flex-grow 1000ms;
    background:black;
}

#commissions .twod:hover, #commissions .threed:hover{
    flex-grow:3;
}

/*BACKGROUND IMAGES*/
#commissions background {
    width:100%;
    height:100%;
    display:block;
    z-index:0;
    position:fixed;
    filter:brightness(0.6);
    -webkit-transition:filter 1000ms;
	-moz-transition:filter 1000ms;
	transition:filter 1000ms;
    overflow:hidden;
}

#commissions .twod background {
    background:url("imgs/2d.png");
    background-position-x: left -1033px;
    background-position-y: 30%;
    background-size: 3000px;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

#commissions .threed background {
    background:url("imgs/3d.png");
    background-position-x: right -150px;
    background-position-y: 70%;
    background-size:2100px;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

#commissions.index .threed background:hover, #commissions.index .twod background:hover {
    filter:brightness(1);
}

/*LOGOS*/
#commissions logo {
    width:100%;
    display:flex;
    overflow:hidden;
}

#commissions logo.left {
    justify-content: flex-end;
}

#commissions .logo.left, #commissions .logo.right {
    z-index:1;
    max-height:calc(100vh - 54px);
}

#commissions .logo.right {
    bottom:36px;
    filter: invert(100%);
}

#commissions .logo.left {
    top:0;
}

#commissions .logo.left.bg, #commissions .logo.right.bg {
    z-index:0;
    margin:0;
    min-height:100vh;
    opacity:0.7;
    bottom:0!important;
}

#commissions .logo.right.bg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#commissions .logo {
    position:absolute;
    margin:10px;
}

#commissions.info .logo {
    position:fixed;
}

/*INFO PAGES*/
body#commissions.info {
    height:100vh;
    overflow:auto;
}

#commissions wrapper {
    color:black;
    z-index:999;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

#commissions content {
    height:100%;
    width:45%;
    display:flex;
    margin-top:150px;
}

#commissions commission_type, #commissions form {
    background:grey;
    padding:10px;
}

#commissions commissions {
    display:flex;
    flex-direction:column;
}

#commissions #addons {
    margin-bottom:45px;
}

#commissions commission_type {
    margin-bottom: 10px;
}

#commissions .nav {
    background:lightgrey;
    width:27.5%;
    text-align:center;
    position:fixed;
    top:calc(50% - 35px);
    transform:translateY(calc(-50% + 35px));
}

#commissions .nav.left {
    left:0;
}

#commissions .nav.right {
    right:0;
}

#commissions jump {
    text-align:center;
    position:fixed;
    background:lightgrey;
    padding:10px 0;
    top:10px;
    width:45%;
    height:36px;
}

#commissions jump p {
    margin:0;
}